body {
    color: black;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    width: 929px;																					
	background-color: #F0F0F0;
	padding:10px;
    height: 584px;
}

.titrePage {
    text-align: center;
}

.divMenu {       
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: left;       
}

.lienCo {
    position: absolute;
    top: 20px;
    left: 860px;
    vertical-align:bottom
}

.boutonMenu {    
    border: solid;
    border-radius: 10px;
}

.logo {
    width: 316px;
    height: 109px;
}

iframe {
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: left;
}

.ErreurLogin {
    position:absolute;
    top: 375px;
    left: 528px;
    color:red;
    
}